**Note: In Data Science googling is a very important skill. If you find some difficulties to solve the problem, google it and try to find some clues to solve.**

In [1]:
import numpy as np
from icecream import ic

###`Q-1` Create a null vector of size 10 but the fifth value which is 1.

In [5]:
a= np.nan * np.empty(10)
a[4]=1
a

array([nan, nan, nan, nan,  1., nan, nan, nan, nan, nan])

###`Q-2` Ask user to input two numbers a, b. Write a program to generate a random array of shape (a, b) and print the array and avg of the array.

In [8]:
a, b = map(int, input("Enter two integers (a and b) separated by space: ").split())
ic(a)
ic(b)
array_new=np.arange(1,1+a*b).reshape(a,b)
ic(array_new)
ic(array_new.mean())

Enter two integers (a and b) separated by space:  7 9

ic| a: 7
ic| b: 9
ic| array_new: array([[ 1,  2,  3,  4,  5,  6,  7,  8,  9],
                      [10, 11, 12, 13, 14, 15, 16, 17, 18],
                      [19, 20, 21, 22, 23, 24, 25, 26, 27],
                      [28, 29, 30, 31, 32, 33, 34, 35, 36],
                      [37, 38, 39, 40, 41, 42, 43, 44, 45],
                      [46, 47, 48, 49, 50, 51, 52, 53, 54],
                      [55, 56, 57, 58, 59, 60, 61, 62, 63]])
ic| array_new.mean(): 32.0

32.0

###`Q-3`Write a function to create a 2d array with 1 on the border and 0 inside. Take 2-D array shape as (a,b) as parameter to function.

Eg.-
```
[[1,1,1,1],
[1,0,0,1],
[1,0,0,1],
[1,1,1,1]]
```

In [10]:
a=5
b=6
n=np.ones(a*b).reshape(a,b)
ic(n)
n[1:a-1,1:b-1]=0
n

ic| n: array([[1., 1., 1., 1., 1., 1.],
              [1., 1., 1., 1., 1., 1.],
              [1., 1., 1., 1., 1., 1.],
              [1., 1., 1., 1., 1., 1.],
              [1., 1., 1., 1., 1., 1.]])

array([[1., 1., 1., 1., 1., 1.],
       [1., 0., 0., 0., 0., 1.],
       [1., 0., 0., 0., 0., 1.],
       [1., 0., 0., 0., 0., 1.],
       [1., 1., 1., 1., 1., 1.]])

###`Q-4` Create a vector of size 10 with values ranging from 0 to 1, both excluded.

In [13]:
np.linspace(0,1,10)

array([0.        , 0.11111111, 0.22222222, 0.33333333, 0.44444444,
       0.55555556, 0.66666667, 0.77777778, 0.88888889, 1.        ])

###`Q-5` Can you create a identity mattrix of shape (3,4). If yes write code for it.

In [16]:
#Code here
# no we canot write the code

###`Q-6:` Create a 5x5 matrix with row values ranging from 0 to 4.

In [19]:
#Code here
a=5
b=5
np.linspace(0,4,a*b).reshape(a,b)

array([[0.        , 0.16666667, 0.33333333, 0.5       , 0.66666667],
       [0.83333333, 1.        , 1.16666667, 1.33333333, 1.5       ],
       [1.66666667, 1.83333333, 2.        , 2.16666667, 2.33333333],
       [2.5       , 2.66666667, 2.83333333, 3.        , 3.16666667],
       [3.33333333, 3.5       , 3.66666667, 3.83333333, 4.        ]])

###`Q-7:`  Consider a random integer (in range 1 to 100) vector with shape `(10,2)` representing coordinates, and coordinates of a point as array is given. Create an array of distance of each point in the random vectros from the given point. Distance array should be interger type.

```
point = np.array([2,3])
```

In [28]:
a=np.random.randint(1,100,(10,2))
p=np.array([2,3])
np.sqrt(np.sum((a-p)**2,axis=1)).astype(int)

array([54, 59, 88, 50, 94, 70, 87, 65, 87, 94])

###`Q-8:` Consider a (6,7,8) shape array, what is the index (x,y,z) of the 100th element?

In [38]:
#Code here
a=np.ones((6,7,8))
ic(a)
np.unravel_index(100,(6,7,8))

ic| a: array([[[1., 1., 1., 1., 1., 1., 1., 1.],
               [1., 1., 1., 1., 1., 1., 1., 1.],
               [1., 1., 1., 1., 1., 1., 1., 1.],
               [1., 1., 1., 1., 1., 1., 1., 1.],
               [1., 1., 1., 1., 1., 1., 1., 1.],
               [1., 1., 1., 1., 1., 1., 1., 1.],
               [1., 1., 1., 1., 1., 1., 1., 1.]],

              [[1., 1., 1., 1., 1., 1., 1., 1.],
               [1., 1., 1., 1., 1., 1., 1., 1.],
               [1., 1., 1., 1., 1., 1., 1., 1.],
               [1., 1., 1., 1., 1., 1., 1., 1.],
               [1., 1., 1., 1., 1., 1., 1., 1.],
               [1., 1., 1., 1., 1., 1., 1., 1.],
               [1., 1., 1., 1., 1., 1., 1., 1.]],

              [[1., 1., 1., 1., 1., 1., 1., 1.],
               [1., 1., 1., 1., 1., 1., 1., 1.],
               [1., 1., 1., 1., 1., 1., 1., 1.],
               [1., 1., 1., 1., 1., 1., 1., 1.],
               [1., 1., 1., 1., 1., 1., 1., 1.],
               [1., 1., 1., 1., 1., 1., 1., 1.],
               [1., 1., 1., 1., 1., 1., 1., 1.]],

              [[1., 1., 1., 1., 1., 1., 1., 1.],
               [1., 1., 1., 1., 1., 1., 1., 1.],
               [1., 1., 1., 1., 1., 1., 1., 1.],
               [1., 1., 1., 1., 1., 1., 1., 1.],
               [1., 1., 1., 1., 1., 1., 1., 1.],
               [1., 1., 1., 1., 1., 1., 1., 1.],
               [1., 1., 1., 1., 1., 1., 1., 1.]],

              [[1., 1., 1., 1., 1., 1., 1., 1.],
               [1., 1., 1., 1., 1., 1., 1., 1.],
               [1., 1., 1., 1., 1., 1., 1., 1.],
               [1., 1., 1., 1., 1., 1., 1., 1.],
               [1., 1., 1., 1., 1., 1., 1., 1.],
               [1., 1., 1., 1., 1., 1., 1., 1.],
               [1., 1., 1., 1., 1., 1., 1., 1.]],

              [[1., 1., 1., 1., 1., 1., 1., 1.],
               [1., 1., 1., 1., 1., 1., 1., 1.],
               [1., 1., 1., 1., 1., 1., 1., 1.],
               [1., 1., 1., 1., 1., 1., 1., 1.],
               [1., 1., 1., 1., 1., 1., 1., 1.],
               [1., 1., 1., 1., 1., 1., 1., 1.],
               [1., 1., 1., 1., 1., 1., 1., 1.]]])

(1, 5, 4)

### `Q-9:` Arrays

You are given a space separated list of numbers. Your task is to print a reversed NumPy array with the element type float.

**Input Format:**

A single line of input containing space separated numbers.

**Output Format:**

Print the reverse NumPy array with type float.

**Example 1:**

Input:

```bash
1 2 3 4 -8 -10
```

Output:

```bash
[-10.  -8.   4.   3.   2.   1.]
```

In [13]:
#Code here
a=input().strip().split()
np.array(a[::-1],dtype=np.float32)

 1 2 3 4 -8 -10

array([-10.,  -8.,   4.,   3.,   2.,   1.], dtype=float32)

### `Q-10:` Elements count

Count the number of elements of a numpy array.

**Example 1:**

Input:
```bash
np.array([])
```

Output:
```bash
elements_count :  0
```

**Example 2:**

Input:
```bash
np.array([1, 2])
```

Output:
```bash
elements_count :  2
```

In [19]:
#Code here
a=np.array([1, 2])
a.size

2

### `Q-11:` Softmax function

Create a Python function to calculate the Softmax of the given numpy 1D array. The function only accepts the numpy 1D array, otherwise raise error.

$$\Large \sigma(\vec z)_i = \frac{e^{z_i}}{\sum_{j=i}^{K}{e^{z_j}}}$$

https://en.wikipedia.org/wiki/Softmax_function

**Example 1:**

Input:
```bash
[86.03331084 37.7285648  48.64908087 87.16563062 38.40852563 37.20006318]
```

Output:
```bash
[2.43733249e-01, 2.56112115e-22, 1.41628284e-17, 7.56266751e-01,
       5.05514197e-22, 1.50974911e-22]
```

**Example 2:**

Input:
```bash
[33.17344305 45.61961654 82.05405781 80.9647098  68.82830233 91.52064278]
```

Output:
```bash
[4.57181035e-26, 1.16249923e-20, 7.73872596e-05, 2.60358426e-05,
       1.39571531e-10, 9.99896577e-01]
```

In [21]:
#Code here
def softmax(arr):
    s=np.sum(np.exp(arr))
    return np.exp(arr)/s
softmax([33.17344305, 45.61961654, 82.05405781, 80.9647098,  68.82830233, 91.52064278])

array([4.57181033e-26, 1.16249922e-20, 7.73872594e-05, 2.60358426e-05,
       1.39571531e-10, 9.99896577e-01])

### `Q-12:` Vertical stack

Write a python function that accepts infinite number of numpy arrays and do the vertical stack to them. Then return that new array as result. The function only accepts the numpy array, otherwise raise error.

**Example 1:**

Input:
```bash
a= [[0 1 2 3 4]
 [5 6 7 8 9]]

b= [[1 1 1 1 1]
 [1 1 1 1 1]]
```

Output:

```bash
[[0 1 2 3 4]
 [5 6 7 8 9]
 [1 1 1 1 1]
 [1 1 1 1 1]]
```

**Example 2:**

Input:
```bash
a= [[0 1 2 3 4]
 [5 6 7 8 9]]

b= [[1 1 1 1 1]
 [1 1 1 1 1]]

c= [[0.10117373 0.1677244  0.73764059 0.83166097 0.48985695]
 [0.44581567 0.13502419 0.55692335 0.16479622 0.61193593]]
```

Output:
```bash
[[0.         1.         2.         3.         4.        ]
 [5.         6.         7.         8.         9.        ]
 [1.         1.         1.         1.         1.        ]
 [1.         1.         1.         1.         1.        ]
 [0.10117373 0.1677244  0.73764059 0.83166097 0.48985695]
 [0.44581567 0.13502419 0.55692335 0.16479622 0.61193593]]
```

In [25]:
def vertical_stack_arrays(*arrays):
    # Check if all inputs are numpy arrays
    for array in arrays:
        if not isinstance(array, np.ndarray):
            raise TypeError(f"Expected a numpy array, but got {type(array)}")
    
    # Use np.vstack to vertically stack the arrays
    result = np.vstack(arrays)
    return result
a=np.array( [[0 ,1 ,2, 3, 4],
 [5 ,6, 7, 8, 9]])
b=np.array([[1 ,1, 1, 1, 1],
 [1 ,1 ,1, 1, 1]])
vertical_stack_arrays(a,b)

array([[0, 1, 2, 3, 4],
       [5, 6, 7, 8, 9],
       [1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1]])

### `Q-13:` Dates

Create a python function named **date_array** that accepts two dates as string format and returns a numpy array of dates between those 2 dates. The function only accept 2 strings, otherwise raise error. The date format should be like this only: `2022-12-6`. The end date should be included and for simplicity, choose dates from a same year.

**Example 1:**

Input:
```bash
date_array(start = '2020-09-15', end = '2020-09-25')
```

Output:
```bash
['2020-09-15', '2020-09-16', '2020-09-17', '2020-09-18',
 '2020-09-19', '2020-09-20', '2020-09-21', '2020-09-22',
 '2020-09-23', '2020-09-24', '2020-09-25']
```

**Example 2:**

Input:
```bash
date_array(start = '2022-12-01', end = '2022-12-06')
```

Output:
```bash
['2022-12-01', '2022-12-02', '2022-12-03', '2022-12-04', '2022-12-05', '2022-12-06']
```

**Example 3:**

Input:
```bash
date_array(start = '2020-11-25', end = '2020-11-30')
```

Output:
```bash
['2020-11-25', '2020-11-26', '2020-11-27', '2020-11-28',
 '2020-11-29', '2020-11-30']
```

In [35]:
#Code here
import numpy as np
from datetime import datetime, timedelta

def date_array(start_date: str, end_date: str) -> np.ndarray:
    """
    Generates a numpy array of dates between two given dates.

    Args:
    start_date (str): The start date in the format 'YYYY-MM-DD'.
    end_date (str): The end date in the format 'YYYY-MM-DD'.

    Returns:
    np.ndarray: An array of dates from start_date to end_date inclusive.

    Raises:
    ValueError: If the input is not two strings or if the date format is incorrect.
    """
    # Validate input
    if not isinstance(start_date, str) or not isinstance(end_date, str):
        raise ValueError("Both start_date and end_date must be strings.")
    
    # Parse dates
    try:
        start = datetime.strptime(start_date, '%Y-%m-%d')
        end = datetime.strptime(end_date, '%Y-%m-%d')
    except ValueError:
        raise ValueError("Date format must be 'YYYY-MM-DD'.")

    # Ensure dates are in the same year
    if start.year != end.year:
        raise ValueError("Both dates must be in the same year.")

    # Generate dates
    date_list = [start + timedelta(days=i) for i in range((end - start).days + 1)]
    
    return np.array(date_list)

# Example usage
print(date_array("2022-12-01", "2022-12-06"))

[datetime.datetime(2022, 12, 1, 0, 0) datetime.datetime(2022, 12, 2, 0, 0)
 datetime.datetime(2022, 12, 3, 0, 0) datetime.datetime(2022, 12, 4, 0, 0)
 datetime.datetime(2022, 12, 5, 0, 0) datetime.datetime(2022, 12, 6, 0, 0)]

###`Q-14:` Subtract the mean of each row from a matrix.

In [88]:
#code here
a=np.random.randint(1,100,(2,3))
a-a.mean(axis=1,keepdims=True)

array([[ -5.33333333,   1.66666667,   3.66666667],
       [-13.        ,   2.        ,  11.        ]])

###`Q-15:` Swap column-1 of array with column-2 in the array.

In [94]:
#Code here
a=np.random.randint(1,100,(2,3))
ic(a)

ic| a: array([[57, 14, 17],
              [89, 30,  3]])

array([[57, 14, 17],
       [89, 30,  3]])

###`Q-16:` Replace odd elements in arrays with -1.

In [ ]:
#Code here

In [110]:
a=np.arange(20)
a[a%2!=0]=-1
a

array([ 0, -1,  2, -1,  4, -1,  6, -1,  8, -1, 10, -1, 12, -1, 14, -1, 16,
       -1, 18, -1])

###`Q-17:` Given two arrays of same shape make an array of max out of two arrays. (Numpy way)
```
a=np.array([6,3,1,5,8])
b=np.array([3,2,1,7,2])

Result-> [6 3 1 7 8]
```

In [ ]:
#Code here

In [31]:
a=np.array([6,3,1,5,8])
b=np.array([3,2,1,7,2])
np.maximum(a,b)

array([6, 3, 1, 7, 8])

###`Q-18` Answer below asked questions on given array:
1. Fetch Every alternate column of the array
2. Normalise the given array

https://en.wikipedia.org/wiki/Normalization_(statistics)

There are different form of normalisation for this question use below formula.

$$\large X_{normalized} = \frac{X - X_{min}}{X_{max} - X_{min}}$$

```python
arr1=np.random.randint(low=1, high=10000, size=40).reshape(8,5)
```

In [33]:
# Given
arr1=np.random.randint(low=1, high=10000, size=40).reshape(8,5)
arr1

array([[3059, 4867, 4528, 2272, 3568],
       [9742, 8061, 1469, 5847,  458],
       [7397, 3947, 3895, 6635, 4766],
       [6026, 8212, 6669, 8221, 6557],
       [1272, 4721, 9663, 1794, 3639],
       [2548, 8457, 8448, 6310, 5894],
       [ 175,  786, 5822, 8349, 8674],
       [3641, 7779, 2738, 4340, 8019]])

In [ ]:
#Code here

###`Q-19:` Write a function which will accept 2 arguments.
First: A 1D numpy array arr

Second: An integer n {Please make sure n<=len(arr)}

Output: The output should be the nth largest item out of the array
```
# Example1 : arr=(12,34,40,7,1,0) and n=3, the output should be 12
# Example2 : arr=(12,34,40,7,1,0) and n=1, the output should be 40
```

In [118]:
#Code here
def nthmax(arr,n):
    if n>len(arr):
        raise IndexError("n is way out of limit")
    arr.sort()
    return arr[-n]
nthmax(np.array([12,34,40,7,1,0]),1)

40

###`Q-20:` Create the following pattern without hardcoding. Use only numpy functions and the below input array a.
```
# Input: a = np.array([1,2,3])
# Output: array([1, 1, 1, 2, 2, 2, 3, 3, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3])
```

In [120]:
#code here
a = np.array([1,2,3])
np.hstack([np.repeat(a,len(a)),np.tile(a,len(a))])

array([1, 1, 1, 2, 2, 2, 3, 3, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3])